@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bignoodle;
  src: url(./fonts/big_noodle_titling.ttf);
}
@font-face {
  font-family: bignoodleItalic;
  src: url(./fonts/big_noodle_titling_oblique.ttf);
}
body {
  font-family: bignoodle;
}
.top,
.bottom {
  transition: 1s all cubic-bezier(1, 0.01, 0, 0.99);
}
.italic {
  font-style: italic;
}
.loader {
  border: 1px solid transparent;
  border-right: 2px solid #000;
  border-radius: 50%;
  animation-duration: 0.6s;
}
